@font-face {
    font-family: 'Conv_Nautilus';
    src: url('../fonts/Nautilus.eot');
    src: local('?'), url('../fonts/Nautilus.woff') format('woff'), url('../fonts/Nautilus.ttf') format('truetype'), url('../fonts/Nautilus.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header {
    //position:fixed;
    width:100%;
}
.header li {
    list-style:none;
    float:left;
    padding:10px;
    padding-top:0px;

}
.header li a{
    color:#fff;
    padding-top:5px !important;
    display:inline-block;
    border-top:5px solid transparent;


}
.header li a:hover, .header li .active{
    border-top:5px solid #54d154;
    font-weight: bold;
    text-decoration: none;
}
.banner{
    background-image: url("../images/banner.jpg");
    background-size: cover;
    height: 780px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.logo {
    font-family: 'Conv_Nautilus';
    text-align:center;
    color: #fff;   
}
.logo > h3{
    margin: 6px 0 0 0;
}
.search_box{
    background: rgba(255,255,255,.5);
    padding: 5px 20px;
    border-radius: 40px;
    margin-top: 5px;
}
button{
    background-color: transparent;
    border: none;
}
input{
    border: none;
    background: none;
}
.slide_show{
    text-align: center;
    height: 660px;
    padding-top: 330px;
}
.slide_show h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    color: #fff;
}
.slide_show button{
    margin-top: 20px;
    padding: 10px 30px;
    background: #54d154;
    color: #fff;
    border-radius: 60px;
    font-size: 21px;
    text-transform: uppercase;
}
.scroll_box{
    background-color: rgba(192,190,190,.5);
    padding: 5px 10px;
    border-radius: 40px;
    margin-top: 5px;
}
.main-content{
    padding-bottom: 40px;
}
.main-content, .sec-content, .third-content, .fo-content, .fif-content{
    text-align: center;
}
.fif-content{
    padding-bottom: 65px;
}
.six-content-button{
    background: #3eba3e;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    color: #54d154;
    padding-bottom: 30px;
}
.main-content .main-content-heading, .sec-content-heading{
    text-transform: uppercase;
}
.main-content-heading, .th-content-heading, .fo-content-heading, .fif-content-heading{
    margin-top: 40px;
    color: #828181;
    font-family: 'Montserrat', sans-serif;
}
.main-content-below-head, .th-content-below-head, .fo-content-below-head,.fif-content-below-head{
    color: #b7b3b3;
}
.icon-box{
    width: 160px;
    height: 160px;
    background: #e1f3e1;
    text-align: center;
    padding-top: 20px;
    border-radius: 15%;
    margin-top: 20px;
    margin: 0 auto;
}
.icon img{
    padding:20px;
}
.btn-lg{
    border-radius: 60px;
}
.sec-content, .fif-content{
    background-color: #54d154;
}
.sec-content-heading, .fif-content-heading{
    color: #207b20;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.sec-content-below-head, .fif-content-below-head{
    color: #2b9b2b;
}
.third-content{
    margin-bottom: 60px;
}
.th-content-below-head, .fo-content-below-head{
    margin-bottom: 60px;
}
.fo-content{
    background-color: #f2f1f1;
}
.line-bottom{
    border: 2px solid #207b20;
    width: 43px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.line-middle{
    border: 2px solid #207b20;
    height: 77px;
    width: 2px;
    margin: 0 auto;
    margin-bottom: 10px;    
}
.name{
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
}
.work-btn{
    padding: 14px 22px;
    box-shadow: 0px 5px 15px #38a838;
    border-radius: 25px;
    color: #fff;
    text-decoration: none!important;
    background: #54d154;
}
.about-us{
    background: #333333;
    color: #fff;
    padding-top: 30px;
}
.about-us h3{
    text-align: center;
    text-transform: uppercase;
}
.line-bottom-b{
    color: #fff;
    border: 2px solid #fff;
    width: 43px;
    margin: 0 auto;
    margin-bottom: 23px;
}
.name-sec-icon-link{
    margin-top: 33px;
    text-align: center;
}
.recent-post-block ul{
    padding: 0;
    list-style: none;
}
.left-block p{
    text-align: center;
}
.recent-post-block ul li{
    min-height:70px;
}
.recent-post-block ul li img{
    float: left;
    height: 53px;
    width: 53px;
    margin-right: 10px;
}
.middle-block .recent-block-btn{
    padding: 4px;
    text-decoration: none!important;
    color: #fff;
    background: #54d154;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
        
}
.middle-block .recent-block-btn.ui{
    background: #ffba00;
}
.middle-block .recent-block-btn.photo{
    background: #089dea;
}
.middle-block .recent-block-btn.book{
    background: #f34d04;
}
.about-us .right-block address{
    text-align: center;
}
#contact-form input,#contact-form textarea {
    background: #444444;
    border: none;
}
#contact-form .form-group{
    margin-bottom: 4px;
}
#contact-form button{
    width: 100%;
    background: #2b9b2b;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.footer-image{
    background: #222222;
    text-align: center;
    color: #101010;
}
.footer-image h3{
    text-transform: uppercase;
}
.line-footer-img{
    border: 2px solid #101010;
    width: 43px;
    margin: 0 auto;
    margin-bottom: 23px;
}
.f-img{
    padding-bottom: 30px;
}
.footer{
    background: #111;
    color: #fff;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}